

.logo{
    width: 200px;
    height: 100px;
    background-color: blue;
    float: left;
    box-shadow: 3px 3px 3px green;
    border-radius: 3%;
}

.social {
    float: right;
    width: 50px;
    height: 50px;
    background-color: slategray;
    margin-top: 0px;
    border-radius: 40%;
}

.banner {
    padding-left: 0%;
    padding-right: 0%;
    width: 100%;
    height: 1000px;
    box-shadow: 10px 3px 3px green;
    border-radius: 1%;
    
    
    
    
}

.yo {
    margin-top: -10%;
    margin-left: 5%;
    width: 300px;
    height: 300px;
    float: left;
    position: absolute;
    border-radius: 100%;
    box-shadow: 3px 3px 3px green;
}

body {
    background-image: linear-gradient(to right, #E6FFE6, #80FF80);
}

.titulo {
    margin-left: 5%;
    font-size: 30px;
    float: left;
    margin-top: 14%;
    

}

.acerca {
    margin-left: 70%;
    font-size: 30px;
    margin-top: 4%;
}

.sup {
    background-color: black;
}

.row ul{
    padding-left: 6%;
    padding-top: 0%;
    font-size: 20px;
}

.row {
    padding-top: 5%;
}

